@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

.TopNav-Bground {
  background-color: #21252d !important;
}

.input-color {
  background-color: #191c21 !important;
}

.navbar-toggler,
.navbar-toggler-icon {
  background-color: white !important;
}

.modal-backdrop {
  width: 100%;
  height: 100%;
  /*#17191D*/
  background: rgba(0, 0, 0, 0.5);
}
.modal-text {
  padding: 30px;
  max-width: 350px;
  height: auto;
  margin: 15% auto auto auto;
  background: #fff;
}

.Hero-Banner {
  background-color: #0f0f0f;
  width: 100%;
  /* height: auto; */
}

.banner-button {
  width: 25%;
}

.banner-info {
  color: #fff;
  word-spacing: 1px;
}

.needAccount {
  font-size: 10.5px;
  color: #494949;
}

#google-button {
  background: #4688f1 !important;
  border: #fff;
}

#fb-button {
  background: #3e5c97;
  border: #fff;
}

#LoginButton {
  background: #c63437 !important;
  border: #fff;
}

.text-start {
  display: block;
  margin-left: auto;
  border: 1px solid #f8f8f8;
  border-radius: 55%;
  background: #f8f8f8;
}

.checkSubscribe .checkText {
  color: #494949;
  font-size: 15px;
  display: block;
}

.group-images {
  background-color: #191c23;
  width: 100%;
  color: white;
}

.instructor-button {
  background-color: #5193f6 !important;
  border: 0 !important;
}
.instructor-button:hover {
  background-color: #555961 !important;
}

.explore-courses {
  background-color: #0f0f0f;
  width: 100%;
  color: white;
}

.explore-nav-items {
  color: white !important;
  text-decoration-color: #ffc107 !important;
}

.explore-nav-items:hover {
  text-decoration: underline;
}

.card-design {
  width: 18rem;
  color: white !important;
  background-color: #21252d;
}

.countdown-box {
  color: #fff;
  background-color: #21252d;
}

.card-design-two {
  width: 18rem;
  background-color: #15181e;
}

.Featured-Instructors {
  background-color: #0f0f0f;
  color: #fff;
}

.Featured-Instructors-Container {
  background-color: #21252d;
}

.comments-box {
  background-color: #21252d;
  color: #fff;
}

.recent-blogs {
  background-color: #0f0f0f;
  color: #fff;
}

.card-design .card-price {
  color: #f65158;
  font-weight: bold;
}

.time {
  border: 2px solid #5193f6;
  border-radius: 5px;
  padding: 12px 12px 12px 12px;
  background: #5193f6;
  font-weight: bold;
}

.deal-cards {
  background: #191c23 !important;
}
.deal-cards-button:hover {
  background: #5193f6;
  color: #fff;
  border: 0;
}

.fetured-instructors {
  background: #21252d;
}

.st-comments-texts {
  background: #191c21;
}

.read-more:hover {
  color: #fff;
  background: #ffca2c;
}

.PlaystoreSection {
  background: #191c23;
  color: #fff;
}

.subsciption-section {
  background: #21252c;
  color: #fff;
}

.faqSection {
  color: #fff;
  background: #0f0f0f;
}

.faqSection .accordion-button {
  background: #21252d;
  color: #fff;
}

.faqSection .accordion-body {
  background: #21252d;
  color: #fff;
}

.footerMain {
  background: #191c21 !important;
  color: #fff;
}

/*Cart page*/
.cart-main {
  background: #191C21;
  color: #E5E5E5;
}
.cart-items{
  background-color: #282D37;
}

@media (max-width: 992px) {
  .comments-box {
    display: none;
  }
  .download {
    display: none !important;
  }
}
