.TopNav-Bground{
    background-color: #21252D !important;
}

.input-color{
    background-color: #191C21 !important;
}

.navbar-toggler, .navbar-toggler-icon{
    background-color: white !important;
}