@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.TopNav-Bground {
  background-color: #21252d !important;
}

.input-color {
  background-color: #191c21 !important;
}

.navbar-toggler,
.navbar-toggler-icon {
  background-color: white !important;
}

.modal-backdrop {
    width: 100%;
    height: 100%; 
  /*#17191D*/
  background: rgba(0, 0, 0, 0.5);
}
.modal-text {
  padding: 30px;
  max-width: 350px;
  height: auto;
  margin: 15% auto auto auto;
  background: #fff;
}

.Hero-Banner {
  background-color: #0f0f0f;
  width: 100%;
  /* height: auto; */
}

.banner-button{
    width: 25%;
}

.banner-info{
    color: #fff;
    word-spacing: 1px;
}

.needAccount{
  font-size: 10.50px;
  color: #494949;
}

#google-button{
  background: #4688F1 !important;
  border: #fff;
}

#fb-button{
  background: #3E5C97;
  border: #fff;
}

#LoginButton{
  background: #C63437 !important;
  border: #fff;
}